@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  
  .print-section,
  .print-section * {
    visibility: visible;
  }
  
  .print-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  
  .no-print {
    display: none !important;
  }
}
